
    <!-- Page Content -->


      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="assets/img/ts.jpg" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Topfdff Shelf Band</h3>
          <p>A group of 6 seasoned musicians & vocalists; playing your favorite hits to suit all ages.</p>
          <h3 class="my-3">Upcoming Events</h3>
          <ul class="list-group">
  			<li class="list-group-item">
  				NOV17<br>	
				Friday Night Dance Club<br>
				Fri 8 PM - Hosted by Top Shelf Band Jax<br>
			</li>
			  <li class="list-group-item">
					NOV18	<br>
					Elks Lodge 2605<br>
					Sat 8 PM - 4 guests<br>								 
			  </li>
			  <li class="list-group-item">
			  		NOV25	<br>
					American Legion Post 137<br>
					Sat 7:30 PM - 2 guests<br>
			  </li>
			  <li class="list-group-item">
			  		DEC22	<br>
					Big Dawgs Pierside<br>
					Fri 6 PM - 1 guest<br>
			  </li>
			</ul>
        </div>
	
      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3> 

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
           <a href="https://www.facebook.com/tsbandjax/" target="_blank"><img src="assets/img/fb.png" alt="Find us on Facebook" width="209" height="64" title="Find us on Facebook!"/></a>
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
        </div>

      </div>
      <!-- /.row -->

