<div id="footer">
    <hr class="border-white">

    <!-- Footer -->
    <footer style="bottom:0px;">
      <div class="container">
        <div class="row">
        
          <div class="col-lg-8 col-md-10 mx-auto">
     		<div class="row">
     		<div class="col-lg-4 col-md-5 mx-auto">
					<a href="https://www.facebook.com/tsbandjax/" target="_blank"><img src="assets/img/fb2.png"   alt="Find us on Facebook" height="32" title="Find us on Facebook!"/></a>
					</div>
			 <div class="col-lg-4 col-md-5 mx-auto">     
            <p class="copyright text-muted text-center">Copyright &copy; Top Shelf Band Jax 2018</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
</div>

