


@import '~bootstrap/scss/bootstrap';


//@import '~startbootstrap-clean-blog/scss/clean-blog.scss';

.bg-black {
	background-color: #191516;
}

.bg-neon {
	background-color: #99FF00;
}

.text-neon{
	color:#99FF00;
}


.top-padding {
	padding-top: 100px;
}

.full-page {
	height: 100%;
}

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: 60px;
    background-color: #191516;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: #191516;
    .footer-block {
      margin: 20px 0;
    }
  }
}


