    
 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top" id="mainNav">
      <div class="container">
      
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav ml-auto">
          	<li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/theband" routerLinkActive="active"> The Band </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="./music" routerLinkActive="active"> Music </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="./contacts" routerLinkActive="active"> Contact </a>
            </li>
            <li class="nav-item">
               <a class="nav-link"  routerLink="./faqs" routerLinkActive="active"> FAQ's </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>