



<div class="jumbotron jumbotron-fluid bg-black py-0">
 <div class="container">
<img src="assets/img/ts3.jpg" class="img-fluid"/>
</div>
</div>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
        	<div class="row">
        	<div class="col-md-4 col-sm-6 mb-4">
        		          <h3 class="my-3 text-white">Upcoming Events</h3>
		          <ul class="list-group">
		  			<li class="list-group-item  bg-black text-white">
		  				<strong>NOV 17</strong><br>	
						Friday Night Dance Club<br>
						Fri 8 PM - Hosted by Top Shelf Band Jax<br>
					</li>
					  <li class="list-group-item bg-black text-white">
							<strong>NOV 18</strong>	<br>
							Elks Lodge 2605<br>
							Sat 8 PM - 4 guests<br>								 
					  </li>
					</ul>           
					<a href="https://www.facebook.com/tsbandjax/" target="_blank"><img src="assets/img/fb.png"   alt="Find us on Facebook" width="209" height="64" title="Find us on Facebook!"/></a>	
        	</div>
        	<div class="col-md-6 col-sm-6 mb-4">          		
           		

				<ngb-carousel>
				  <ng-template ngbSlide>
				    <img src="assets/img/band1.jpg?r1" alt="Random first slide" class="img-thumbnail">
				    <div class="carousel-caption">
				      <h3>Halloween</h3>
				      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
				    </div>
				  </ng-template>
				  <ng-template ngbSlide>
				    <img src="assets/img/band2.jpg?r2" alt="Random second slide"  class="img-thumbnail">
				    <div class="carousel-caption">
				      <h3>Top Shelf Band</h3>
				      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				    </div>
				  </ng-template>
				  <ng-template ngbSlide>
				    <img src="assets/img/band3.jpg?r3" alt="Random third slide"  class="img-thumbnail">
				    <div class="carousel-caption">
				      <h3>Hard Rock</h3>
				      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
				    </div>
				  </ng-template>
				</ngb-carousel>
				
				           		          
        	</div>
        	</div>
	     </div>	     
	    </div>

