
    <!-- Main Content -->
    <div class="container top-padding">
      <div class="row mt-3">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview text-white">
              <h2 class="post-title  text-white">
                Friday Night Dance Club
              </h2>
              <h3 class="post-subtitle">
                <strong>NOV 17</strong><br>							
						Fri 8 PM - Hosted by Top Shelf Band Jax<br>
              </h3>
          <hr>
          <div class="post-preview">
              <h2 class="post-title  text-white">
                Elks Lodge 2605
              </h2>
              <h3 class="post-subtitle">
                <strong>NOV 18</strong>	<br>
                Sat 8 PM - 4 guests<br>	
              </h3>

          </div>
          <hr>
          <div class="post-preview">
              <h2 class="post-title  text-white">
                American Legion Post 137
              </h2>
              <h3 class="post-subtitle">
               	<strong>NOV 25</strong>	<br>						
				Sat 7:30 PM - 2 guests<br>
              </h3>
          </div>
          <hr>
          <div class="post-preview">
              <h2 class="post-title  text-white">
                 Big Dawgs Pierside
              </h2>
              <h3 class="post-subtitle">
               <strong>DEC 22</strong>	<br>						
				Fri 6 PM - 1 guest<br>
              </h3>
          </div>
          <hr>
        </div>
      </div>
    </div>