
    <!-- Main Content -->
    <div class="container top-padding">
      <div class="row mt-3">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div id="fb-root"></div>			
  		<div class="fb-page" 
  			data-href="https://www.facebook.com/pg/tsbandjax/events/?ref=page_internal" 
  			data-tabs="events" 
  			data-small-header="false" 
  			data-hide-cover="true" 
  			data-show-facepile="false">
  				<blockquote cite="https://www.facebook.com/pg/tsbandjax/events/?ref=page_internal" class="fb-xfbml-parse-ignore">
  					<a href="https://www.facebook.com/pg/tsbandjax/events/?ref=page_internal">
  						Top Shelf Band Jax
  					</a>
  				</blockquote>
  			</div>
		</div>
      </div>
    </div>
    
