 <div class="container top-padding">
	
	<div class="row">
    	<div class="col-sm">
       		<img src={{imageName}} alt="Random first slide" class="img-thumbnail">
    	</div>
  	</div>
  
  <p class="text-white text-center">
  	Select the thumbnail image below to display the large version above.
  </p>
	<div class="row mt-4 justify-content-center">   
    	<div class="col-6 col-sm-3 col-md-2 col-lg-1" *ngFor="let currentImage of imagesList">  
       		<img src={{currentImage}}  alt="Random first slide" class="img-thumbnail img-responsive mx-auto d-block" (click)="setImageName(currentImage)">
    	</div>
  	</div>
</div>
