 <div class="container top-padding">
	
	 <div class="row">
    <div class="col-sm">
       <img src={{imageName}} alt="Random first slide" class="img-thumbnail">
    </div>
  </div>
  
  
   <div class="row mt-4">
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
       <img src="assets/img/band4.jpg" width="100%" alt="Random first slide" class="img-thumbnail" (click)="setImageName('assets/img/band4.jpg')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band5.jpg" alt="Random first slide" class="img-thumbnail" (click)="setImageName('assets/img/band5.jpg')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band6.png" alt="Random first slide" class="img-thumbnail" (click)="setImageName('assets/img/band6.png')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
        <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
        <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg?r1" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1">
      <img src="assets/img/band4.jpg?r1" alt="Random first slide" class="img-thumbnail"(click)="setImageName('assets/img/band4.jpg')">
    </div>
  </div>
</div>
