 <div class="jumbotron jumbotron-fluid bg-black pb-0 text-white">
 <div class="container">
	<h1>Info about the band.  blah blah blah blah blah blah blah blah blah blah blah blah</h1> 
</div>
</div>
 <div class="container text-white">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
        	<div class="row">
        		<div class="col-md-3 col-sm-6 mb-4"> 
        			<img src="assets/img/bandmember1.png" class="img-fluid"/>
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4">
	        		My Name - jdslajsdlfj fk aslkd fl;kajs dl;kfj asl;kdj falksdj f;alksj d;lfkja sl;dkjf a;l
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4"> 
        			<img src="assets/img/bandmember1.png" class="img-fluid"/>
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4">
	        		My Name - jdslajsdlfj fk aslkd fl;kajs dl;kfj asl;kdj falksdj f;alksj d;lfkja sl;dkjf a;l
        		</div>
        		
        	</div>
        	<div class="row">
        		<div class="col-md-3 col-sm-6 mb-4"> 
        			<img src="assets/img/bandmember1.png" class="img-fluid"/>
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4">
	        		My Name - jdslajsdlfj fk aslkd fl;kajs dl;kfj asl;kdj falksdj f;alksj d;lfkja sl;dkjf a;l
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4"> 
        			<img src="assets/img/bandmember1.png" class="img-fluid"/>
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4">
	        		My Name - jdslajsdlfj fk aslkd fl;kajs dl;kfj asl;kdj falksdj f;alksj d;lfkja sl;dkjf a;l
        		</div>
        		
        	</div>
        	
        	<div class="row">
        		<div class="col-md-3 col-sm-6 mb-4"> 
        			<img src="assets/img/bandmember1.png" class="img-fluid"/>
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4">
	        		My Name - jdslajsdlfj fk aslkd fl;kajs dl;kfj asl;kdj falksdj f;alksj d;lfkja sl;dkjf a;l
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4"> 
        			<img src="assets/img/bandmember1.png" class="img-fluid"/>
        		</div>
        		<div class="col-md-3 col-sm-6 mb-4">
	        		My Name - jdslajsdlfj fk aslkd fl;kajs dl;kfj asl;kdj falksdj f;alksj d;lfkja sl;dkjf a;l
        		</div>        		
        	</div>
        	
        	
        </div>
	</div>        	
</div>        	

